<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>

    <!-- STYLES -->
    <link rel="stylesheet" href="/frontend/assets/modules/bootstrap/bootstrap.min.css">
</head>
<body>
    <section id="main-app" class="d-flex justify-content-center align-items-center" style="min-height: 100vh; max-width: 100vw;" v-cloak>
        <div class="d-flex flex-column justify-content-center align-items-center" style="width: 90%; padding: 1rem;" v-if="loaded">
            <h1 class="text-center">{{ title }}</h1>
            <div class="card w-100">
                <div class="card-body text-bg-light d-flex justify-content-start align-items-center gap-4">
                    <div class="d-flex flex-column justify-content-center align-items-start gap-2">
                        <label>Ruolo</label>
                        <select class="form-select" v-model="selectedRole" @change="onFiltersChange" style="cursor: pointer;">
                            <option value="All">Tutti</option>
                            <option v-for="role in roles" :style="{'color': rolesColors[role]}">{{ role }}</option>
                        </select>                      
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-start gap-2">
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" v-model="searchedPlayer" @input="onFiltersChange">                      
                    </div>
                </div>
            </div>
            <table class="table table-striped table-bordered mt-4 w-100">
                <thead>
                    <tr>
                        <th v-for="header in headers">
                            <div class="d-flex justify-content-start align-items-center gap-3">
                                <span>{{ header }}</span> 
                                <i class="fa-solid fa-sort" @click="sort(header)" style="cursor: pointer;"></i>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="player in displayedPlayers">
                        <td :style="{'color': rolesColors[player.role]}">{{ player.role }}</td>
                        <td>{{ player.name }}</td>
                        <td>{{ player.team }}</td>
                        <td>{{ player.fmv }}</td>
                        <td>{{ player.pv }}</td>
                        <td>{{ player.mv }}</td>
                        <td>{{ player.fm }}</td>
                        <td>{{ player.gf }}</td>
                        <td>{{ player.gs }}</td>
                        <td>{{ player.rp }}</td>
                        <td>{{ player.rc }}</td>
                        <td>{{ player.rs }}</td>
                        <td>{{ player.rb }}</td>
                        <td>{{ player.as }}</td>
                        <td>{{ player.am }}</td>
                        <td>{{ player.es }}</td>
                        <td>{{ player.au }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- SCRIPTS -->
    <script src="/frontend/assets/modules/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/265cf19e97.js"></script>
    <script src="/frontend/assets/modules/vue/vue.global.js"></script>
    <script src="/frontend/assets/js/main.js"></script>
</body>
</html>